<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
</head>
<body>
    <form action="/add-recipe" method="POST">
        <input type="text" name="Title" id="" placeholder="Recipe Title">
        <textarea name="Ingredients" placeholder="Ingredients"></textarea>
        <textarea name="Instructions" placeholer="Instructions"></textarea>
        <button type="submit">Add Recipe</button>
    </form>
</body>
</html>