<div>
    <h1 class="text-3xl font-bold"><%= recipe.title %></h1>
    <p class="mt-4">
        <strong>Ingredients:</strong> <%= recipe.ingredients%>
    </p>
    <p> <strong>Instructions:</strong> <%= recipe.instructions%></p>
    <a href="/" class="text-blue-500 underline">Back to Recipe List</a>
</div>